.side-menu{
  list-style: none;
}

.side-menu li {
  margin: 50px 0;
  font-size: 20px;
  background: rgba(114, 98, 163, 1);
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  color: white;
}